h2 Listing Allergens & Score
each val, index in { Eggs: 1, Peanuts: 2, Shellfish: 4, Strawberries: 8, Tomatoes: 16, Chocolate: 32, Pollen:  64, Cats: 128 }
  
    .index= index
    .val= val
hr
br
  
p First allergen:

  input#num1
  
p Scond allergen:

  input#num2

button Calculate Allergen Count

br
br
h2.fade Your Total Allergen Count: 

p#result